@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Silkscreen&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Silkscreen', cursive;
    background-color: black;
    color: white;
}
.profile-box{
    justify-content: space-around;
    margin: 20px;
    display: flex;
    align-items: center;
}

@media (width<1000px) {
    .profile-box{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .profile-card{
        margin-bottom: 50px;
    }
}
.orbit{
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.circle{
  
   
    width: 100px;
    border-radius: 50%;
    height: 100px;
    animation-name: up-down;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.52, 0, 0.16, 0.96);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    /* animation-play-state: paused; */

}
.circle a{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 171, 223);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.circle a i{
    font-size: 70px;
}
.circle a:hover{
    color: rgb(230, 230, 230);
}
h1{
    text-align: center;
}


@keyframes up-down {
    from{
        transform: translateY(-100px)rotate(90deg);
    }
    to{
        transform: translateY(100px) rotate(-90deg);
    }
}



.circle:nth-child(2){
    animation-delay: 0.3s;
    
}
.circle:nth-child(3){
    animation-delay: 0.4s;
    
}
.circle:nth-child(4){
    animation-delay: 0.6s;
}


































.profile-text{
    margin: 20px;
}
.profile-text>p{
    font-size: 50px;
    text-align: center;
}
.profile-card{
    animation-duration: 3s;
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 3px 9px rgba(158, 158, 158, 0.632);
    transition: 1s ease-in;
}

.profile-card:hover{
    transform: rotate(3deg);
}

.background-image{
   background-image: url(https://lh3.googleusercontent.com/CJH6BVOEcXArtbxqj4ugApd1uMNxN_IITTcjLnLANjj680yxt2sbfKkCYU051u2L2ErMWDebYXCZO8CGI3XyhSssYFa6--pN5cYFQGP7yQQjWhlcewYyoAV0kEqZpem095s9Tx3USyV4Nff5eCN0uRRHgskvYBw-jE9T9UfwMjxGC_jcWtAUWhiqZbAKgRzbTKVufGm3f7NVsaCEQX4S2y4Ez1978X4DYKpfDmmcj0zthiw-Kw--P1xf_3KT_NTh9ciEOnaPSas9AU1Wd2T9L6Wp5maRjwO4UWvQmHyKKVXgXuRAx-xadrY-VclIe_wqrbDbqobhPDp6Rk44xOAvBIqkAv2EG3u_Svzn3bvnGD-l2Nijute1YepTuhT14cMWT2JQRztx471yjYdk9sHBeNGKVM-yRPAih9puq8B1W8aVQoFqX6WXj5MCcO0USvCU_UlJtjKx6byZmEabrDxCwW1cUr3MtVLfUWNYeXAnG3cFe6uukO7k7CaoUXwXFweqvp9PCPm0xx3-wyCAHrzhZ62b95hYncLoYHrJjsc21z46TndoqW5Jt3TWz1VMVRZKAngVsDlIpRl9a2N6dmUZDQDsk4_GeyzkoUofOfa44dIU5f1Z4yXMrpa8g9hxnApjjjETHGvxFH1Ags-z9xz616RHFjCH_knh_9CL7YAPDKq-pFIcvpAiSb1FlNYVFX1A3AoFoeSfAz0ew_kkHop2LeoF_-LnOVG-upPw16ROhx1PfK2tSPO4NHcw9uaiL7npLaNJ9BCRPjGxYXMjj6L4tpbZTLvGRQYiiz4sogNwZJnRFjo1R3cKzhj8L5jgymcrZXDMoCz4PuRjCSwaKU0dGTq-adLoPxtItgH9yIB3yfuoxDyqyi-_nxgFd6AZPTd6BVsEDLhRpx0_b_0tR11Q-jMt9LF5WewX6gP8_KNFaESgLSq-TA=s937-no?authuser=0);
   box-shadow: 2px 3px 5px 1px rgba(16, 175, 233, 0.552);
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: initial;

}
.comp, .col{
    color: rgb(128, 128, 128);
}
.about{
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 1s ease-in-out;
}
.about:hover{
color: rgb(27, 171, 223);
cursor: pointer;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 5px;
    transition: 0.4s ease-in;
    border: none;
    
}
button:hover{
    background-color: rgb(27, 171, 223);
    color: rgb(225, 215, 215);
    cursor: pointer;
}

::selection{
    background-color:rgb(27, 171, 223);
    color: rgb(0, 0, 0);
}
